main {
	padding-top: 3rem;
	padding-bottom: 3rem;	
}

footer {
	padding-top: 1rem;
	padding-bottom: 1rem;
	background-color: #343a40;
}

.product-card {
	flex-grow: 1;
	min-height: 100%;
}

.product-card .card-body {
	display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.product-card .card-link {
	margin-top: auto;
}


.price-row .price {
	font-size: 1.3rem;
}

.price-row {
	display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-buttons {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
	justify-content: flex-end;
}

.social-buttons li {
	padding-right: 0.5rem;
	padding-left: 0.5rem;
}

.social-buttons li:first-child {
	padding-left: 0;
}

.social-buttons li:last-child {
	padding-right: 0;
}
 
.social-buttons li a {
	color: rgba(255,255,255,0.5);
}

.social-buttons li a:hover {
	color: rgba(255,255,255,0.8);
}

.social-buttons li a:active {
	color: white;
}


.carousel-indicators li {
	cursor: pointer;
}

table {
	font-size: 0.9rem;
}

.form-control:focus {
	box-shadow: none;
}

.feedback-card input[type="text"] {
	text-transform: capitalize;
}


@media screen and (max-width: 768px) { 
	.carousel {
		display: none;
	}
}

@media screen and (max-width: 992px) { 
	.carousel .carousel-control-prev, .carousel .carousel-control-next {
		display: none;
	}
}


/*@media screen and (min-width: 1200px) {
	.carousel img {
		object-fit: cover;
		height: calc(100vh - 58px);
		object-position: 50% 50%; 
	}
} */


.call-phone {
	color: black;
}


.comparison-table thead tr {
	height: 70px;
}

a:hover {
	text-decoration: none;
}


.navbar .navbar-nav {
	width: 100%;
}


button {
	cursor: pointer;
}

/* Стили для Задания №3 */
/*body {
	background-color: #f8f8f8;
}

.item h4 {
	color: black;
	font-size: 18px;
	font-weight: 400;
	background-color: #eaeaea;
}

.short-description {
	color: #707070;
	font-size: 14px;
	font-style: italic;
	line-height: 16px;
}

.full-description {
	color: #484343;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
}

.full-description ul {
	font-size: 14px;
	color: #f588b5;
	list-style-image: url(img/list-img.png);
}

.item-img {
	padding: 2px;
	background-color: black;
}


.feedback-card input[name="field"] {
	width: 300px;
	height: 30px;
	font-size: 14px;
	color: #007bff;
	margin-bottom: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}*/


/* Стили для Задания №4 */
/*.feedback-card input[type="email"]:focus {
	color: #007bff;
	border-color: #007bff;
} 


.item p:first-letter {
	font-size: 1.2rem;
	font-family: Georgia, 'Times New Roman', Times, serif;
}


.item-img:hover {
	outline: none;
}

.item-img {
	outline: 2px solid black;
}
*/